.search-anything {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: center;
    justify-content: space-between;
}

.query-pannel {
    flex: 1 1 330px;
    margin-left: var(--header-margin-left);
    .big {
        //styleName: 1.Titres/H1 - XL/Desktop;
        font-family: Marianne;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
    }

    .label {
        font-family: Marianne;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
    }

    textarea {
        border: none;
        border-radius: 3px;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
        padding: 20px;
        width: 100%;
        height: calc(100px + 30vh);
        //styleName: 2.Corps de texte/MD - Texte standard/Desktop & Mobile - Regular;
        font-family: Marianne;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        outline: none;
    }
    textarea:focus {
        box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }

    .inputs {
        display: flex;
        justify-content: space-around;
    }

    input[type=number] {
        width: calc(50% - 20px);
        font-family: Marianne;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        border-radius: 3px;
        box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
        color: black;
        background-color: white;
    }

    .secteur {
        .fr-label {
            font-size: 0.8em;
        }
        .fr-fieldset__content {
            flex-direction: column;
            height: 250px;
        }
    }
}

.resultats {
    margin: 0 25px;
    flex: 2 1 330px;
    width: calc(var(--column-width) * 1.5);
    min-width: var(--column-min-width);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */

/* Chrome, Edge, and Safari */
.card-list::-webkit-scrollbar {
    width: 5px;
}

.card-list::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: none;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 90vh;
    scrollbar-width: 1px;
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.25);
    align-content: flex-start;
    margin-bottom: 25px;
}

.card {
    width: 283px;
    overflow: hidden;
    position: relative;
    margin: 2px 2px;
    .fieldset {
        margin-top: 15px;
        border-radius: 20px;
        border: rgb(255, 255, 255, 0.2) solid 2px;
        background-color: rgba(38, 38, 38, 1);
        .legend {
            position: absolute;
            transform: translateX(15px) //margin left
                translateY(-50%) //vertical align middle
                translateY(-15%); //feels moar centered
            background-color: var(--body-bg-color);
            padding: 0 10px;
            color: rgb(255, 255, 255, 0.2);
            font-weight: 700;
            line-height: 22px;
            font-size: 14px;
        }
    }

    p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        margin: 0;
        --line-height: 22px;
        line-height: var(--line-height);
        min-height: calc(3 * var(--line-height));
    }
}

.card.placeholder {
    margin-top: 15px;
    width: 283px;
    height: 190px;
    border: 1px dashed #ffffff;
    border-radius: 18px;
}

.card:hover {
    max-height: 250px;
    overflow-y: none;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.fr-toggle__label {
    padding-left: 0.5em;
}

.thematique-filter .fr-toggle__input:checked ~ .fr-toggle__label:after {
    background-color: rgba(255, 255, 255, 1);
}
