.App {
  height: 100vh;
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 10px;
  padding: 10px;
  grid-template-areas: 
    ". ."
    "description-startup resultats"
    ". .";
}

.description-startup {grid-area: description-startup;}
.resultats {grid-area: resultats;}
