.App {
  height: 100vh;
  display: grid;
  grid-template-columns: min(0fr) 1fr;
  grid-template-rows: minmax(0, 1fr);
  grid-template-areas: 
    ". ."
    "description-startup resultats"
    ". .";
  overflow: hidden;
  align-items: center;
  justify-items: center;
}

.description-startup {
  grid-area: description-startup;
  height: 100vh;
  background-color: rgba(0,0,0,0.06);
}
.resultats {
  grid-area: resultats;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  padding: 10px;
  max-width: 300px;
  transition: position 1s;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}