:root {
  --header-height: 12vw;
  scroll-snap-type: y proximity;
}

.white-text {
  color: rgba(255, 255, 255, 0.93);
}

.header {
  grid-area: header;
  height: var(--header-height);
  background-color: rgba(31, 31, 31, 1);
  padding: 6vh 10vw;
  display: flex;
  align-items: center;
}

.header > h1 {
  margin: 0;
  font-size: 1.2em;
  display: inline-block;
  margin-left: 20px;
}

.msg-icon {
  display: inline-block;
  text-align: center;
  max-height: 12vw;
}

.body {
  --body-bg-color: rgba(38, 38, 38, 1);
  background: var(--body-bg-color);
  padding-top: 45px;
}
